body{
    font-size: 16px;
    line-height: 32px;
    font-family: sans-serf;
    color: #000;
    font-family: 'Mansalva', cursive;
}

h1{
    font-size: 1.4rem;
    margin: 0.15;
    color:#fff;
}

h2{
    font-size: 1.0rem;
    text-align: left;
    border-bottom: 1px solid #bbb;
    color: #bbb;
}

header, main, footer{
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 800px;
}

header, footer, footer a{
    text-align: center;
    background-color: burlywood;
    color: whitesmoke;
}

header img{
    width: 200px;
    height: auto;
   
}

footer{
    font-size: smaller;
}

ul{
    margin: 0 auto;
    max-width: 300px;
    text-align: left;
}

