img{
    max-width: 200px;
}

article{
    background-color:lightblue;
    margin:2px;
    border: solid blue;
    padding: 2px;
}

h2{
    color:rgb(100, 52, 235)
}

header{
    text-align: center;

}
section{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    
}

@media only screen and (min-width: 32.5em){
    section{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 60em){
    section{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}