@media only screen and (min-width: 30.5em) {
header{
    text-align: center;
    background-color:#FBE8A6;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


body{
    margin:50px;
}
}s