@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		color: white;
    }
    
    
    
    header{
        text-align: center;
    background-color:#FBE8A6;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: block;
        
    }
    
    
    h1{
        text-align: center;
    }
    footer{
        
        margin-top: 20px;
      
    }
    
    img{
       
        height: 75px;
        
    }
    
    
    
    section li{
        
        padding-left: 15px;
       
        font-size: 35px;
        margin-top: 10px;
        
    }
    
}