*{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-color:#FBE8A6;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: block;
}


h1{
    text-align: center;
}



footer{
    text-align: center;
    margin-top: 20px;
    background-color:#F4976C;
}

img{
    height: 75px;
    width: auto;
    
   
}

body{
    display: flex;
    display: block;
    background-color: #B4DFE5;
    font-family: 'Indie Flower', cursive;
}

section li{
    text-align: left;
    text-decoration: none;
    list-style-type: none;
    padding-left: 15px;
    border-style: dotted;
    font-size: 35px;
    margin-top: 10px;
    background-color: #D2FDFF;
}








nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: #F4976C;;
}
.navigation {
	list-style: none;
	text-align: center;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	color: white;
	font-weight: 700;
}

.responsive li {
	display: block;
}






